.card {
  border: 1px solid #333;
  width: 100%;
  max-width: 300px;
  border-color: rgb(224, 97, 244);
}

.card-sm {
  width: 100%;
  max-width: 350px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-image-sm {
  width: 100%;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-title {
  font-size: 2.25rem;
  font-weight: 200;
  line-height: 2.5rem;
}

.card-tags {
  background-color: #0abde3;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 3px 10px;
  display: inline-block;
  color: white;
  font-size: 0.875rem;
}

.navbar-link {
  cursor: pointer;
}

.navbar-link:hover {
  color: #c5c5c5;
}

.card-tags:last-child {
  margin-left: 0;
}
.card-tags:nth-child(2) {
 background-color:#a55eea ;
}
.card-tags:nth-child(3) {
  background-color: #20bf6b ;

}
.card-tags:nth-child(4){
  background-color: #eb4d4b;
}
.card-tags:nth-child(5){
  background-color: #10ac84 ;
}
.card-tags:nth-child(6){
  background-color: #5352ed;
}
.card-tags:nth-child(7){
  background-color: #db9f1e;
}


/* responsive style */

@media (max-width: 1024px) {
  .card {
    max-width: 100%;
  }

  .card-sm {
    max-width: 100%;
  }

  .card-title {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }

  .card-title {
    font-size: 1.75rem;
  }

  .card-tags {
    font-size: 0.75rem ;
  }
}