.footer {
    margin-top: 4rem;
    padding: 1.5rem;
    text-align: center;
    background-color: rgb(160, 89, 227);
    color: white;
    font-size: 1rem;
}

/* responsive style */

@media (max-width: 768px) {
    .footer {
        padding: 1rem;
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) {
    .footer {
        padding: 1.5rem;
        font-size: 1.125rem;
    }
}